<div id="post-form-container">
    <h1>Create a post</h1>
    <form [formGroup]="postForm">
        <div class="choose-group">
            <select formControlName="group_id" (change)="selectGroup($event)">
                <option value="" selected disabled>Select a group</option>
                <option *ngFor="let group of groupsStore.groups"
                        [value]="group.id">{{group.name}}</option>
            </select>
        </div>

        <div class="form-controls">
            <ckeditor id="editor" [editor]="Editor"
                      [data]="dataPosts"
                      [config]="{removePlugins : [['format']]}"
                      [formControlName]="'description'"
                      (change)="onChange($event)"
                      (ready)="onReady($event)">
            </ckeditor>
            <!--            <textarea formControlName="description" placeholder="Create a public post..."></textarea>-->

            <div class="action-btn-wrap">
                <button (click)="savePost()" id="add-post">Post</button>
            </div>
        </div>
    </form>
</div>
