@import 'mixins';

.post-addPhoto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .action-btn-wrap {

        button {

            img {
                margin-right: 15px;
            }
            span {
                position: relative;
                font-size: 15px;
                bottom: 6px;
            }
        }
    }
}

.choose-group {
    select {
        padding: 10px;
        outline: none;
        margin: 20px 0;
        border: 1px solid #9D9D9D;
    }
}

#add-post {
    @include regularButton;
}

.action-btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

