.router-block {
    margin: 20px 0;
    .router-list {
        display: flex;
        align-items: center;

        .router-list-item {
            padding: 10px;
            a {
                color: #545454;
                font-size: 18px;
            }
        }
    }
}

.active {
    border-bottom: 3px solid #0aa06e!important;
}
