.uploadModal {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 16px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            font-size: 24px;
            color: #5B5B5B;
        }
        .iconClosedModal {
            font-weight: bold;
            cursor: pointer;
        }
    }

    .inputFile {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

        .buttonUpload {
            background-color: #F53C6F;
            width: 170px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;

            span {
                margin-left: 10px;
                font-size: 15px;
            }
        }
    }

    .progressFile {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .img {
            margin-right: 16px;
            margin-left: 35px;
            color: #9D9D9D;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .name {
            max-width: 150px;
            font-size: 14px;
            color: #545454;
            margin-right: 50px;
            width: 100%;
            height: 18px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

        .mat-progress-bar {
            width: 190px;
            height: 10px;
            border-radius: 5px;
            margin-left: 5px;
            border: 1px solid #707070;
        }

        .progressBar {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-right: 25px;
        }

        .cancel {
            font-size: 10px;
            text-decoration: underline;
            color: #9D9D9D;
        }
    }

    .uploadedFile {

        .headUploaded {
            background-color: #EDEDED;
            margin-bottom: 15px;
            color: #F53C6F;
            font-size: 14px;
            padding: 18px 13px;
            font-weight: bold;
        }

        .listUploaded {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            .uploadedFileIconName {
                display: flex;
                align-items: center;

                .icon {
                    margin-left: 35px;
                    margin-right: 15px;
                    color: #9D9D9D;

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                .uploadedFileName {
                    max-width: 150px;
                    width: 100%;
                    font-size: 14px;
                    color: #545454;
                    height: 18px;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .closedUploadedFile {
                margin-right: 35px;
                width: 15px;
                height: 15px;
                cursor: pointer;

                mat-icon{
                    font-size: 15px;
                    color: #9D9D9D;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .button {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 30px;
        margin-right: 40px;

        button {
            width: 100px;
            height: 30px;
            box-shadow: 0 0 6px #0000000F;
            font-size: 12px;
        }

        .canselButton {
            color: #9D9D9D;
        }

        .saveButton {
            background-color: #18B587;
            color: #FFFFFF;
        }
    }
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #18B587;
    border-radius: 5px;
}

::ng-deep .mat-progress-bar-buffer {
    background: #FFFFFF;
}
