.complete-purchase {
    font-family: 'Muli-Light', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}
::ng-deep .mat-tab-labels {
    .mat-tab-label-active {
        color: black;
        opacity: 1;
        .mat-tab-label-content {
            font: normal normal 600 16px/24px "Muli-Bold";
        }
    }
}

.labelName{
    font-family: Muli-Bold, sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    line-height:23px;
    color: #545454;
    margin-bottom: 11px
}

.title{
    display: flex;
    align-items: center;
    font-family: Muli-Bold, sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 29px;
    line-height:36px;
    color:#000000;
}


.wallet-img{
    margin-left: 25px;
}
