@import 'assets/styles/chat-messages-container';

.embed {
    margin-left: 0;
    margin-top: 0;
    height: 200px;
    position: absolute;
    /* overflow-y: scroll; */
    min-width: 310px;

    #direct-messages {
        overflow-y: scroll;
        height: 253px;
        &::-webkit-scrollbar {
            width: 9px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #DCDCDC;
            border-radius: 4px
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgb(174, 174, 174);
        }
    }

    .chat-form {
        margin-top: 25px;
    }

    .data-list {
        padding: 0 18px;
    }
}


.greyBigDiv{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    box-sizing: border-box;
    width:200px;
    //height: 116px;
    padding: 8px 10px 8px 15px;
    background: #EEEEEE;
    border-radius: 10px;
}

.greySmallDiv{
    display: flex;
    margin-bottom: 14px;
    justify-content: space-between;


}

.greySmallDiv:last-child{
    margin-bottom: 0;
}


.greySmallDivLeftPart{
    display: flex;
    align-items: center;
}

.iconDiv{
    width: 24px;
    height: 24px;
}

.iconClass{
    width: 100%;
}

.fileName{
    font-family:Muli-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9B9B9B;
    margin-left:15px;
}

.closingDiv{
    width: 10px;
    height: 10px;
}

.closingImg{
    width: 100%;
}
