.wholeDiv{
    display: flex;
    justify-content: space-between;
}
.firstOne{
    margin-right: 10px;
 }
.date-div  .mat-form-field-wrapper{
    background-color: #F8F8F8 !important;
}

.labelDate{
    font-family: Muli-Bold, sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 16px;
    line-height:20px;
    color:#000000;
}

.datepickerIcon{
    position: absolute;
    bottom: -3px;
    right: 10px;
}

.mat-datepicker-toggle-default-icon{
    width: 24px !important;
}
