<div class="d-flex walletContent">
    <div class="mr-lg-5 mr-4">
        <div class="sub-titles mb-3 wallet-subtitles">Saved Payment Methods</div>
        <div class="d-flex">
            <ul>
                <li *ngFor="let card of userCards">
                    <img class="greenImg" src="assets/img/credit-card.svg" alt="" width="22" height="15">
                    <span class="ml-2">**** **** **** {{card.last4}}</span>
                </li>
            </ul>
        </div>
        <div role="button" class="red-link-btn addnewCardDiv" (click)="router.navigate(['wallet/cards/add'])">
            + Add New Card
        </div>
    </div>
    <ng-container>
        <div class="mr-lg-5 mr-4">
            <div class="sub-titles mb-3 wallet-subtitles">Purchased Metl Coins</div>
            <div class="d-flex align-items-center">
                <div class="mr-5">
                    <small class="smallNumbers">{{totals?.purchased.toFixed(2)}} Bits</small>
                    <div class="d-flex">
                        <img src="assets/img/coin/gold.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/silver.svg" alt="" width="16" height="16">
                    </div>
                </div>
                <div class="total-class">
                    ${{(totals?.purchased_worth).toFixed(2)}}
                </div>
            </div>
        </div>
        <div class="mr-lg-5 mr-4">
            <div class="sub-titles mb-3 wallet-subtitles">Received Metl Coins</div>
            <div class="d-flex align-items-center">
                <div class="mr-5">
                    <small class="smallNumbers">{{totals?.received.toFixed(2)}} Bits</small>
                    <div class="d-flex">
                        <img src="assets/img/coin/gold.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/silver.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/pink.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/green.svg" alt="" width="16" height="16">
                    </div>
                </div>
                <div class="total-class">
                    ${{(totals?.received_worth).toFixed(2)}}
                </div>
            </div>
        </div>
    </ng-container>
</div>

<hr class="lineBreak">
<div class="d-flex align-items-center">
    <app-payments-filter-form (formReady)="getFilters($event)"></app-payments-filter-form>
    <mat-spinner [diameter]="15" *ngIf="loader.dataLoading"></mat-spinner>
</div>
<div class="d-flex justify-content-between flex-wrap paymentHistoryAndBtns">
    <div class="sub-titles mb-3 paymentHistoryDiv">Payment History</div>
    <div id="external-accounts">
        <div role="button" class="btn-green mr-2 p-3 paymentPartBtn" (click)="changeTabToPayouts()">Link bank account</div>
        <div role="button" class="btn-red paymentPartBtn"
             (click)="tellChild()">Export to Excel
        </div>
    </div>
</div>
<app-mat-reusable-table [data]="payments" [columns]="displayedColumns" [tab]="'payments'"
                        [changing]="changingValue"></app-mat-reusable-table>
