@import "variables";

::ng-deep .mat-table {
    thead {
        .mat-header-row {
            background-color:#EDEDED;
            height: 45px;
            box-shadow: 0px 3px 6px #00000029;

            .mat-header-cell {
                .table-item {
                    height: 46px;
                    text-transform: capitalize;
                    font-family: Muli-Bold, sans-serif;
                    font-style: normal;
                    font-weight:700;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                }

                &:first-child {
                    .table-item {
                        color: #f53c6f;
                        position: relative;
                    }
                    .mat-sort-header-arrow{
                        //color: $red;
                    }
                }

                &:last-child {
                    .table-item {
                        color: #f53c6f;
                    }
                }
            }
        }
    }

    .table-item {
        height: 58px;
        font-family: Muli-SemiBold, sans-serif;
        font-style: normal;
        font-weight:600;
        font-size: 14px;
        line-height: 18px;
        color: #545454;
        display: flex;
        align-items: center;
    }
}

#external-accounts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    div[role='button'] {
        white-space: nowrap;
        margin: 5px;
    }
}

.d-flex{
    display: flex;
}

.mr-lg-5{
    margin-right: 98px;
}

.wallet-subtitles{
    font-family: Muli-Bold, sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    line-height:23px;
    color: #000000;
    margin-bottom: 26px;
}

.addnewCardDiv{
    font-family: Muli-SemiBold, sans-serif;
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    line-height:20px;
    color: #F53C6F;
    margin-top: 11px;
}

.paymentHistoryAndBtns{
    align-items: center;
    margin-bottom: 30px;
}

.paymentHistoryDiv{
    font-family: Muli-Bold, sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    line-height:23px;
    color: #000000;
}

.paymentPartBtn{
    font-family: Muli-Light, sans-serif;
    font-style: normal;
    font-weight:300;
    font-size: 16px;
    line-height:20px;
    color: #FFFFFF;
    box-sizing: border-box !important
}

.walletContent{
    margin-top: 41px;
}

.greenImg{
    width: 22px;
    height: 15px;
}

.ml-2{
    margin-left: 12px;
    font-family: Muli-SemiBold, sans-serif;
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    line-height:20px;
    color: #000000;
}

.lineBreak{
   border: 1px solid #C9C9C9;
    margin-top: 40px;
}

.smallNumbers{
    font-family: Muli-SemiBold, sans-serif;
    font-style: normal;
    font-weight:600;
    font-size: 10px;
    line-height:13px;
    margin-bottom: 6px;
    color: #545454;
}

.total-class{
    font-family: Muli-SemiBold, sans-serif;
    font-style: normal;
    font-weight:600;
    font-size: 25px;
    line-height:31px;
    color: #545454;
    margin-left: 62px;
}


.mat-ink-bar{
    background-color:#18B587 !important;
    height: 4px !important;
}



