<div class ="completePurchaseWholeDiv">
<div class ="completePurchaseWholeUpDiv">
    <div class ="completePurchaseUpDiv">
        <img class="closingPng" src="../../assets/img/closeChat.png" alt="closeIcon">
        <div class="completePurchase">Complete Purchase</div>
        <div class="purchaseSummary">Purchase Summary</div>
        <div class="purchaseBelowPart">
            <div class="purchaseLeftUpPart">
                <img class="goldCoin" src="../../assets/img/coin/gold.svg" alt="goldIcon">
                <div class="goldCoinRightPart">
                    <div class="coinsBundle">300 Metl Coins Bundle</div>
                    <div class="timeCharge">One-time charge on Jun 2, 2021.</div>
                </div>
            </div>
            <div class="purchaseRightUpPart">
                <div class="typeQuantityDiv">Type quantity</div>
                <div class="priceAndAmountDiv">
                    <div class="priceDiv">Price</div>
                    <div class="priceDiv">$3.00</div>
                </div>
                <div class="lineDiv"></div>
            </div>
        </div>
        <div class="taxAndAmount">
            <div class="taxDiv">Tax</div>
            <div class="totalAmount">
                <div class="totalDiv">Total</div>
                <div class="totalDiv">--</div>
            </div>
        </div>
    </div>
</div>
    <div class ="completePurchaseBelowDiv">
        <div class="belowFirstDiv">
            <div class="payWithDiv">Pay With</div>
            <div class="secureAndIcon">
                <img class="lockIcon" src="../../assets/img/lock.png" alt="lockIcon">
                <div class="secureDiv">Secure</div>
            </div>
        </div>
        <div class="belowSecondDiv">
            <div class="paypalDiv">
                <img  class="paypalIcon" src="../../assets/img/paypalIcon.png" alt="paypalIcon">
            </div>
            <div class="amazonDiv">
                <img  class="payIcon" src="../../assets/img/payIcon.png" alt="payIcon">
            </div>
        </div>
        <div class="orDivs">
            <div class="leftLine"></div>
            <div class="orDiv">Or</div>
            <div class="leftLine"></div>
        </div>
        <div class="payWithDiv">Pay With Credit Card</div>
        <div class="billingInformation">BILLING INFORMATION</div>
        <div class="personalInfoInputsDiv">
            <input class="personalInfoInput" placeholder="First Name">
            <input class="personalInfoInput" placeholder="Last Name">
            <input class="personalInfoInput" placeholder="Category">
        </div>
        <div class="creditCardInfo">CREDIT CARD INFORMATION</div>
        <div class="cardInfoDivs">
            <div class="cardInfoDiv">
                <div class="cardInfo">Credit Card Number</div>
                <input class="cardInput1" placeholder="Card Number">
            </div>
            <div class="cardInfoDiv">
                <div class="cardInfo">Expiry Date</div>
                <div class="monthYearInputs">
                    <input class="cardInput2" placeholder="Month">
                    <input class="cardInput2" placeholder="Year">
                </div>
            </div>
            <div class="cardInfoDiv">
                <div class="cardInfo">CVV</div>
                <input class="cardInput1" placeholder="CVV">
            </div>
        </div>
        <button class="previewBtn">Review Purchase</button>
    </div>
</div>

