<app-post-form-placeholder></app-post-form-placeholder>

<ul class="categories">
    <li (click)="sortPosts('hot')"><a [ngClass]="{'active': sortingOptions==='hot'}"><span class="material-icons">whatshot</span>Hot</a></li>
    <li (click)="sortPosts('new')"><a [ngClass]="{'active': sortingOptions==='new'}"><span class="material-icons">new_releases</span>New</a></li>
    <li (click)="sortPosts('top')"><a [ngClass]="{'active': sortingOptions==='top'}"><span class="material-icons">trending_up</span>Top</a></li>
    <li (click)="sortPosts('best_of_the_week')"><a [ngClass]="{'active': sortingOptions==='best_of_the_week'}"><span class="material-icons">new_releases</span>Best of the week</a></li>
    <li [matMenuTriggerFor]="menuSelectCategory"><a [ngClass]="{'active': sortingOptions===categoryName.toLocaleLowerCase()}"><span class="material-icons">category</span>{{categoryName}}</a></li>
</ul>

<mat-menu #menuSelectCategory="matMenu">
    <ul class="categories_items">
        <li [ngClass]="{'active': sortingOptions===stock.value}" *ngFor="let stock of category" (click)="selectCategory(stock)">{{stock.name}}</li>
    </ul>
</mat-menu>

<div class="search">
    <input #input placeholder="Search" type="text" (input)="searchInput($event)" (keyup.enter)="searchPost(input.value)">
    <span class="material-icons" (click)="searchPost(input.value)">search</span>
</div>

<div>
    <app-post-item *ngFor="let post of allPost; trackBy: trackByElement" [post]="post"
                   (vote)="vote($event)" (deletePosts)="delete()">
    </app-post-item>
</div>

<mat-paginator [length]="paginatorLength"
               [pageSize]="paginatorPageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pagination($event)"
               [pageIndex]="perPage-1"
               aria-label="Select page">
</mat-paginator>
