@import "cards";

.card-number{
    font-family: Muli-Regular, sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 19px;
    line-height:24px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 22px;
}

//.exp-date{
//
//}

.expiration-date{
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
    align-items: flex-end;
}
